- Please make sure you clean up after yourselves
- Please do not get electrocuted
- Teleporting is strictly forbidden
- Gauss rifles must be discharged while in the space
- Robot armies must be inactive at all times
